
@{
    ViewBag.Title = "Bootstrap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bootstrap</h2>
<html>
<head>
    <title>Bootstrap color indication</title>
</head>
<body>

    <!-- alert -->
    <!-- primary(blue),success(green),danger(red),info,wrning-->
    <div class="container">
        <div class="alert alert-success">
            <strong>well done!</strong>
            <p>you have successfully created an alert!</p>
        </div>
    </div>


    <!--Buttons-->

    <a href="http://www.microsoft.com" class="btn btn-info">submit</a>

    <a href="http://www.microsoft.com" class="btn btn-outline-info">submit</a>

    <div class="container">
        <a href="http://www.microsoft.com" class="btn btn-outline-info btn-block">submit</a>
    </div>

</body>
</html>

