
@{
    ViewBag.Title = "Bootstrap_Table";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bootstrap_Table</h2>
<html>
<head>
    <tille>Bootstrap_Table</tille>
</head>
<body>
    <table class="table table-hover table-striped">
        <thead class="thead_dark">
            <tr>
                <th>First Name</th>
                <th>Middle Nmae</th>
                <th>Last Nmae</th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <th>Arya</th>
                <th>Mitcheal</th>
                <th>Paul</th>
            </tr>
            <tr>
                <th>Adam</th>
                <th>Statam</th>
                <th>Gillcrist</th>
            </tr>
            <tr>
                <th>Ricky</th>
                <th>Ponting</th>
                <th>Martin</th>
            </tr>
        </tbody>
    </table>
</body>
</html>

