
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div class="header"> 
        Register Form
    </div>
    <div>
        <h3>Name:<input type="text" id=" t1" /><br> </h3>
        <h3>
            Gender:<input type="radio" id="r1" name="nikhil">male
            <input type="radio" id="r2" name="nikhil">female <br>
        </h3>
        <h3>email:<input type="email" id="e1"><br></h3>
        <h3>Phone Number:<input type="text" id="t2"><br></h3>
        <h3>password:<input type="password" id=" p1"><br></h3>
        <h3>Confirm password:<input type="password" id=" p2"><br></h3>
        <h3><input type="submit" id="s1" value="submit" onclick="loginsub();" /></h3>
    </div>
</body>
</html>
